# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/deved-state-management/node_modules
/deved-state-management/.pnp
/deved-state-management/.pnp.js

/traversy-context-project/node_modules

/code-15-projects-tab/node_modules
/code-15-projects-grocery-list/node_modules
/deved-redux-tutorial/node_modules
/net-ninja-sass-complete-tutorial/node_modules
/andrei-react-project/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
