body {
    width: 100vw; 
    height: 100vh; 
}

.present-body-container {
    display: grid; 
    grid-template-columns: 20% 80%;
}

.main {
    width: 80%;
    margin-top: 3rem;
    margin-left: 4rem; 
    line-height: 2; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    /* margin-left: 5rem;
    margin-top: 3rem;  */
}

.present-perfect-continuous {
    height: 100%;
    line-height: 1.5rem !important;
    color: blue; 
}



